<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" href="#">Oblitus Societatis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
        </button>
          </nav>
    
                <div class="parent">
                    <img class="image1" src="https://images6.alphacoders.com/523/thumb-1920-523425.jpg" />
                    <img class="image2" src="https://png.icons8.com/nolan/512/E02020/overwolf.png" />
                  </div>